a {
  color: rgb(252, 81, 81);
  text-decoration: none;
}

.wrapper {
  .results_wrapper {
    padding: 0 30px;
    &_name {
      font-weight: 600;
    }

    &_bio {
      font-weight: 500;
      margin-bottom: 10px;
    }

    &_website {
      text-decoration: none;
      color: rgb(252, 81, 81);
    }

    &_description {
      font-weight: 300;
      margin: 20px 0;
    }
  }

  .languages_wrapper {
    padding: 0 30px;
    &_name {
      font-weight: 500;
    }
  }

  .language_wrapper {
    margin-top: 10px;

    &_header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  }

  .repos_wrapper {
    &_underline {
      padding: 0 30px;
    }

    &_name {
      font-weight: 500;
      padding: 0 30px;
      margin-bottom: 20px;
    }

    &_repo {
      padding: 20px 30px;

      &_language {
        font-weight: 300;
        margin-bottom: 10px;
      }

      &_description {
        margin-bottom: 10px;
        font-weight: 300;
      }

      &_info {
        font-weight: 300;
      }

      &:nth-child(odd) {
        background-color: #f3f3f3;
      }
      &_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &_name {
          color: rgb(252, 81, 81);
          font-weight: 600;
        }

        &_date {
          font-weight: 600;
        }
      }
      &_link {
        color: rgb(252, 81, 81);
        text-decoration: none;
      }
    }
  }
}
