.form_wrapper {
  padding: 30px;
  background-color: rgb(252, 81, 81);
  color: white;

  &_headline {
    margin-bottom: 20px;
  }

  &_input_wrapper {
    margin: 10px 0 5px 0;
    width: 100%;
    display: flex;

    &_input {
      background-color: rgb(252, 81, 81);
      border: none;
      border-bottom: 1px solid white;
      margin-right: 10px;
      color: white;
      padding: 4px 0;
      width: 75%;

      &::placeholder {
        color: white;
      }

      &:focus {
        outline: none;
      }
    }

    &_button {
      border: none;
      padding: 5px 20px;
      color: rgb(252, 81, 81);
      background-color: white;
      cursor: pointer;
      width: 25%;
    }
  }
}
